#dynamicPlotWindow, #recentImageWindow, #growthMediumData,#update, #liquidTanks
{
	margin-top: 15px;
	margin-left: -35px;
}
.innerMenu {
	color: #fff;
	font-weight:500;
	background:#0d77b6;
	border-radius:25%;
	cursor:pointer;
	outline:0 !important;
	padding: 0.3em;
	display: block;
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.9em;
}

.innerMenu:hover {
	background-color: #258ecd;
}

.innerMenu.active {
	background-color: #47a3da;
	font-weight:600;
}

.innerMenu.disabled {
	background: #aaa;
	pointer-events: none;
}

/* General styles for all menus */
.innerMenuContent {
	background: #47a3da;
	position: fixed;
	width: 240px;
	margin-top: 110px;
    margin-left: 8px;
    margin-bottom: 9px;
	height: 80%;
    left: -248px;
	top: 0;
	z-index: 1000;
}

.content-open {
	left: 0px;
}

.innerMenuContent h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
	border-bottom: 3px solid #afdefa;
}

.innerMenuContent a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	border-bottom: 1px solid #afdefa;
	padding: 1em;
}

.innerMenuContent a:last-child {
	border-bottom: 3px solid #afdefa;
}
.innerMenuContent a:hover {
	background: #258ecd!important;
}

.innerMenuContent a:active {
	background: #258ecd!important;
	color: #47a3da;
}

/* Transitions */

.innerMenuContent{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

	.innerMenuContent {
		font-size: 90%;
		width: 190px;
		left: -190px;
	}
}