extends ./parts/layout.jade
block vars
    - page = 'About';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active About
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title About
                        .panel-body
                            p In order to enable long term habitation on planetary surfaces, a means of sustainable food production must be developed. Addressing this need for surface habitats on Mars, the MarsOASIS team has developed a concept for a Martian surface greenhouse for unmanned crop production research as a proof of concept for larger scale food production facilities for manned surface missions. Utilizing in-situ resources such as the Martian atmosphere, sunlight, and UV-C radiation, the greenhouse aims to provide a sustainable method of longterm food production requiring minimal consumable resources. The MarsOASIS system is capable of growing a full life cycle of Outredgeous lettuce with its autonomous control system designed for a unmanned environment, only requiring teleoperation in extreme circumstances. A reduced-scope prototype of MarsOASIS is being developed to test technologies such as a natural/artificial hybrid lighting system, a closed water recycling system, remote teleoperation, and fully autonomous monitoring and control of the greenhouse. The prototype is currently in the final stages of design, with a full demonstration of plant life cycle testing set to occur in Fall 2015. Results from this prototype demonstration will help quantify the feasibility of the innovative approaches seen in the MarsOASIS design.

