<ion-view title="Actuators" ng-controller="actuatorCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
      <ul class="list">
        <!-- ======================FILTER========================= -->
        <li class="item item-dark">
          Filter
        </li>
        <li class="item item-toggle">
          Actuator 1
          <label class="toggle">
            <input type="checkbox" ng-model="toggle1">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <!-- ======================VALVES========================= -->
        <li class="item item-dark">
          Valves
        </li>
        <li class="item item-toggle">
          Actuator 1
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 2
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <!-- ======================PUMPS========================= -->
        <li class="item item-dark">
          Pumps
        </li>
        <li class="item item-toggle">
          Actuator 1
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 2
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 3
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 4
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 5
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 6
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 7
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 8
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 9
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 10
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 11
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Actuator 12
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle">
              </div>
            </div>
          </label>
        </li>
      </ul>
      <!-- STILL MISSING MISC -->
    </ion-content>
</ion-view>
