<!-- Header Bar -->
<ion-header-bar class="bar-positive" align-title="left">
  <h1 class="title"><img height="34" src="img/logo.jpg" class="logo">Atmosphere</h1>
</ion-header-bar>

<!-- View Content -->
<ion-view title="Atmosphere">
  <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
    <canvas id="atmosphereChart" height="100" width="100" ></canvas>
    <br>
    <div id="timePicker" class="button-bar">
      <button class="button button-small button-light" ng-click="loadMinute()">minute</button>
      <button class="button button-small button-light" ng-click="loadHour()">hour</button>
      <button class="button button-small button-light" ng-click="loadHistorical()">historical</button>
    </div>
  </ion-content>
</ion-view>
