<ion-modal-view>
  <div class="modal">

    <div ng-controller="loginCtrl">
      <div class="list ">
        <label ng-show="!logged" ng-hide="logged" class="item item-input ">
          <input ng-model="email" type="text" placeholder="Email">
        </label>

        <label ng-show="!logged" ng-hide="logged" class="item item-input">
          <input ng-model="password" type="password" placeholder="Password">
        </label>

        <button ng-show="!logged" ng-hide="logged" id="loginButton" class="button button-full button-positive" ng-click="login()">
          <div ng-model="divText">
            Login
          </div>
        </button>
        <button ng-show="!logged" ng-hide="logged" id="loginButton" class="button button-outline button-positive" ng-click="forgot()">
          <div ng-model="divText">
            Forgot Password?
          </div>
        </button>
        <!-- <button ng-show="logged" class="button button-outline button-assertive" ng-click="logout()">
          Logout
        </button> -->
      </div>
      <div ng-show="loggedSuccess" class="bar bar-footer bar-balanced">
        <div class="title">
          Logged in!
        </div>
        <div ng-show="loggedForgot" class="title">
          Email containing new password sent!
        </div>
      </div>
      <div ng-show="loginError" class="bar bar-footer bar-assertive">
        <div ng-show="error_user" class="title">
          Email address not found! Please register.
        </div>
        <div ng-show="error_password" class="title">
          Invalid Password! Did you forget it?
        </div>
        <div ng-show="error_email" class="title">
          Please enter a valid email address!
        </div>
      </div>
    </div>
    <div ng-controller="registerCtrl">


    <div ng-show="showRegister">
      <div class="list" ng-show="!registered">
        <label class="item item-input">
          <input ng-model="email" type="text" placeholder="New Email">
        </label>
        <label class="item item-input">
          <input ng-model="password" type="password" placeholder="Password">
        </label>
        <label class="item item-input">
          <input ng-model="passwordConfirm" type="password" placeholder="Confirm Password">
        </label>
        <button ng-click="register()" class="button button-full button-calm">Register</button>
      </div>
      <div ng-show="registeredBar" class="bar bar-footer bar-balanced">
        <div class="title">
          Registered! Now please login.
        </div>
      </div>
      <div ng-show="passMismatch" class="bar bar-footer bar-assertive">
        <div class="title">
          Passwords do not match!
        </div>
      </div>
      <div ng-show="regError" class="bar bar-footer bar-assertive">
        <div class="title">
          Invalid Email / Password! Account not created.
        </div>
      </div>

    </div>
    <button ng-show="!showRegister"  class="button button-outline button-balanced" ng-click="registerOpen()">
      <div ng-model="divText">
        Create an Account
      </div>
    </button>

  </div>
      <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
    </ion-content>
  </div>
</ion-modal-view>
