<ion-view title="Tanks">
  <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">

    <!-- <div style="color: white;"> {{ tankData | json }} </div> -->
    <canvas id="tanksChart" height="70" width="100" ></canvas>

  <div ng-controller="actuatorCtrl">
    <button class="button button-full button-positive" ng-click="loaded = true; load($scope);" ng-hide="loaded">
      <div ng-model="divText">
        Show Actuators
      </div>
    </button>
    <div ng-show="loaded">
      <ul class="list">
        <li class="item item-toggle item-dark">
          Air Bubbler
          <label class="toggle toggle-positive">
            <input id="state"  type="checkbox" ng-model="airBubblerState" ng-click="id ='airBubblerState';openLogin();">
            <div class="track" >
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Chiller
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="chillerState"ng-click="id ='chillerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Condensate Pump
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="condensatePumpState"ng-click="id ='condensatePumpState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Filter Pump
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="filterPumpState"ng-click="id ='filterPumpState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Heater
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="heaterState"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Main Tank Circulation
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="mainTankCirculationState"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Nutrient 1 Circulation
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="nutrient1Circulation"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark" ng-model="nutrient1Dosing">
          Nutrient 1 Dosing
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Nutrient 2 Circulation
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="nutrient2Circulation"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          Nutrient 2 Dosing
          <label class="toggle toggle-positive">
            <input type="checkbox"ng-model="nutrient2Dosing"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          pH Dosing
          <label class="toggle toggle-positive">
            <input type="checkbox"ng-model="pHdosing"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle item-dark">
          UV Filter
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="UVfilter"ng-click="id ='airBubblerState';openLogin();">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>
  </ion-content>
</ion-view>
