<ion-view title="Tanks">
  <ion-content overflow-scroll="true" padding="true" class="has-header scroll-bg">
    <!-- <div style="color: white;"> {{ data | json }} </div> -->
    <canvas id="chart" height="70" width="100" ></canvas>

  <div ng-controller="actuatorCtrl">
    <button class="button button-full button-positive" ng-click="loaded = true; load($scope);" ng-hide="loaded">
      <div ng-model="divText">
        Load Actuators
      </div>
    </button>
    <div ng-show="loaded">
      <ul class="list">
        <li class="item item-toggle">
          Air Bubbler
          <label class="toggle">
            <input type="checkbox" ng-model="airBubblerState">
            <div class="track" >
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Chiller
          <label class="toggle">
            <input type="checkbox" ng-model="chillerState">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Condensate Pump
          <label class="toggle">
            <input type="checkbox" ng-model="condensatePumpState">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Filter Pump
          <label class="toggle">
            <input type="checkbox" ng-model="filterPumpState">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Heater
          <label class="toggle">
            <input type="checkbox" ng-model="heaterState">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Main Tank Circulation
          <label class="toggle">
            <input type="checkbox" ng-model="mainTankCirculationState">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Nutrient 1 Circulation
          <label class="toggle">
            <input type="checkbox" ng-model="nutrient1Circulation">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle" ng-model="nutrient1Dosing">
          Nutrient 1 Dosing
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Nutrient 2 Circulation
          <label class="toggle">
            <input type="checkbox" ng-model="nutrient2Circulation">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Nutrient 2 Dosing
          <label class="toggle">
            <input type="checkbox"ng-model="nutrient2Dosing">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          pH Dosing
          <label class="toggle">
            <input type="checkbox"ng-model="pHdosing">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          UV Filter
          <label class="toggle">
            <input type="checkbox" ng-model="UVfilter">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>
  </ion-content>
</ion-view>
