#!/bin/bash

for i in "$@"
do
case $i in
    -g | --gpio)
    GPIO="${i#*=}"
    shift # past argument=value
    ;;
    -b | --bit)
    VALUE="${i#*=}"
    shift # past argument=value
    ;;
    -h | --help)
    printf "Usage: fuck bit."
    shift # past argument with no value
    ;;
    *)
    printf "Usage: mutha fucka"
    

    ;;
esac
done


device="/sys/devices/virtual/gpio/gpio$2/value"

if [ -f device ]; then
  echo $3 > device
fi

